{% extends "base.html" %}

{% block content %}
<h1 class="main-heading">Ledger App Home</h1>
<br><br>
<h3 class="main-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt totam soluta quidem ex, dolorem nam illo deleniti tempore animi earum aliquid at optio exercitationem quae, incidunt maxime omnis inventore repellendus architecto, quaerat iure nisi doloremque. Veritatis facilis, esse soluta quasi quis recusandae iusto tenetur dignissimos laudantium a, nam ab veniam.
</h3>
{% endblock %}