{% extends 'base.html' %}

{% block title %}User Ledgers and Reports{% endblock %}

{% block content %}
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam consequuntur porro iusto totam quos magnam, dignissimos dolorum, dolores placeat doloremque itaque quam repellat cupiditate deleniti sapiente quisquam enim quas similique assumenda adipisci vitae atque et? Reprehenderit molestias assumenda tenetur velit iusto corrupti, vero, hic maiores exercitationem culpa numquam accusamus dolorem unde enim nobis. Corrupti sit iste veniam quae ex provident accusamus ipsa? Beatae recusandae animi eius provident obcaecati ipsum debitis aperiam distinctio, repudiandae asperiores autem ut accusantium doloremque voluptatem sint commodi corrupti, est corporis repellendus quaerat eligendi, dolor excepturi inventore sunt! Omnis aliquam animi veritatis ipsum ratione maxime aspernatur ipsa.</h1>
{% endblock %}